<div class="flex-page-content">
    <div class="header">
        <div class="logo">Flex布局</div>
    </div>
    <div class="main-content">
        <div class="render-box">
            <div class="head-group">
                <div class="add-btn" @click.stop="createItem">添加Item</div>
                {{contentStyleObj.father}}
                <div class="add-btn" @click.stop="resetItem">初始化</div>
            </div>
            <div class="out-render-box">
                <div class="main-class-tag">.main</div>
                <div class="main-render-box" id="father" :style="contentStyleObj.father" ref="father" @click="showContentSetDialog = true">
                    <div class="style-child-item" v-for="(item, index) in contentStyleObj.children" id="children" :style="item"># item_{{index}}</div>
                </div>
            </div>
        </div>
        <div class="code-box">
            <div class="inner-code-box"></div>
        </div>
    </div>
    <div class="dialog-box" v-show="showContentSetDialog" @click.stop="closeDialogF()">
        <div class="inner-box" @click.stop="">
            <div class="title">flex容器属性</div>
            <div class="action-list">
                <div class="action-item" v-for="(item, index) in styleSchema.f" :key="index">
                    <div class="key">
                        {{formatKey(item.key)}}:
                        <span v-if="item.type === 'double'" style="padding-left: 20px; color: #aaa;font-size: 12px;">
                            复合属性，是flex-direction和flex-wrap属性的简写
                        </span>
                    </div>
                    <div class="value-list">
                        <div class="values"
                            v-for="(v,vi) in item.selectList" 
                            :class="{ 'values-select': checkFSelect(item.key, v, item.default), 'values-default': v === item.default }"
                            @click.stop="styleFValueClicked(item.key, v, item.default)">
                            {{ v }}
                            <span v-if="v === item.default && checkFSelect(item.key, v, item.default)" style="font-size: 12px;">默认值</span>
                        </div>
                        <div class="values double-values" v-if=" item.type ==='double'">{{ getDoubleFItemValue(item.double)}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>